APP_ENV=development
APP_DEBUG=true
APP_KEY=REPLACE_WITH_32_BYTE_BASE64_KEY

# Banco interno (Postgres) usado pelo sistema
DB_DRIVER=pgsql
DB_HOST=localhost
DB_PORT=5433
DB_DATABASE=db_dmc_dataload
DB_USERNAME=postgres
DB_PASSWORD=dmc2023@
DB_SCHEMA=public

# Criptografia (32 bytes key base64)
ENCRYPTION_KEY=REPLACE_WITH_32_BYTE_BASE64_KEY
